@model WebMvc5.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @Model.OverallClientCountLastHour
</div>

<div class="row">
    @Model.OverallClientCountLast2Hours
</div>

<div class="row">
    @Model.OverallClientCountLast4Hours
</div>

<div class="row">
    @Model.OverallClientCountLast8Hours
</div>

<div class="row">
    @Model.OverallClientCountLast16Hours
</div>

<div class="row">
    @Model.OverallClientCountLast24Hours
</div>

<div class="row">
    @Model.OverallClientCountLast48Hours
</div>

<div class="row">
    @Model.PerVlanClientCountLastHour
</div>

<div class="row">
    @Model.PerVlanClientCountLast2Hours
</div>

<div class="row">
    @Model.PerVlanClientCountLast4Hours
</div>

<div class="row">
    @Model.PerVlanClientCountLast8Hours
</div>

<div class="row">
    @Model.PerVlanClientCountLast16Hours
</div>

<div class="row">
    @Model.PerVlanClientCountLast24Hours
</div>

<div class="row">
    @Model.PerVlanClientCountLast48Hours
</div>



@*<div class="row">
        @Model.AccessPointClientCount
    </div>*@